<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="container-fluid">

      <div class="jumbotron text-center">
        <!-- Render our data -->
        <h1>Mission to Mars</h1>

        <p><a class='btn btn-primary btn-lg' href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{marsfun.nasa_title}}</h4>
              <p>{{marsfun.nasa_paragraph}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8" id="mars-featured-image">
          <h2>Featured Mars Image</h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img src="{{marsfun.featured_image_url}}" class="mw-100" alt="Responsive image">
        </div>

        <div class="col-md-4" id="mars-weather">
          <h4>Current Weather on Mars</h4>
          <p>{{marsfun.clean_html_table | safe}}</p>
        </div>
      </div>

      <div class="row">
        {% for hemisphere in marsfun.hemisphere %}
        <div class="col-md-6">
          <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="..." class="w-75 p-3">
          <div class="caption">
            <h3>{{hemisphere.title}}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>



    </div>
  </body>

</html>